In [1]:
import pandas as pd

In [2]:
bikes_sub = pd.read_csv('data/Chicago/cleaned/bikes/bikes_count_m1.csv')

In [3]:
bikes_sub['from_zip'] = bikes_sub.from_zip.astype(str)

In [4]:
bikes_sub['to_zip'] = bikes_sub.to_zip.astype(str)

In [5]:
bikes_sub1 = pd.read_csv('data/Chicago/cleaned/bikes/bikes_count_m2.csv')

In [6]:
bikes_sub1['from_zip'] = bikes_sub1.from_zip.astype(str)

In [7]:
bikes_sub1['to_zip'] = bikes_sub1.to_zip.astype(str)

In [14]:
bikes_consol = pd.concat([bikes_sub, bikes_sub1]).groupby(['from_zip', 'to_zip']).sum().reset_index()
bikes_consol

     from_zip to_zip  count
0       60601  60602     76
1       60601  60603    121
2       60601  60604    189
3       60601  60605    486
4       60601  60606    262
...       ...    ...    ...
1183    60707  60647      4
1184    60707  60651      3
1185    60707  60657      1
1186    60827  60628      2
1187    60827  60643      2

[1188 rows x 3 columns]

In [25]:
bikes_sub1 = pd.read_csv('data/Chicago/cleaned/bikes/bikes_count_m12.csv')
bikes_sub1['from_zip'] = bikes_sub1.from_zip.astype(str)
bikes_sub1['to_zip'] = bikes_sub1.to_zip.astype(str)
bikes_consol = pd.concat([bikes_consol, bikes_sub1]).groupby(['from_zip', 'to_zip']).sum().reset_index()
bikes_consol

     from_zip to_zip  count
0       60601  60602   2026
1       60601  60603   5338
2       60601  60604   2956
3       60601  60605  13777
4       60601  60606   5202
...       ...    ...    ...
2094    60827  60615      1
2095    60827  60619      1
2096    60827  60628     26
2097    60827  60633      2
2098    60827  60643      6

[2099 rows x 3 columns]

In [26]:
bikes_consol.to_csv('data/Chicago/cleaned/bikes/bikes_2022.csv', index=False)