# This code cleans the Taxi Trip data

It removes duplicates, trips under 2 miles and trips over 1 day
It then exports the remaining data to a csv. Appropriate for 1 quarter of data at a time.

In [1]:
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.dates as mdates
import re

In [2]:
taxis = pd.read_csv('data/Chicago/taxis/Taxi_Trips_Q4.csv') #reads taxi trip information as taxis

In [3]:
taxis

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,Community Areas
0,01883ea67c46892cd0aacbfb1e277b5d6df62500,75c241a8b2324240c8056df32672d4fd58a20c9c7c39e7...,12/31/2022 11:45:00 PM,12/31/2022 11:45:00 PM,3.0,0.00,NaN,NaN,7.0,7.0,...,27.00,Credit Card,5 Star Taxi,41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),68.0
1,fbfa856b7c2adbeb613cd4eadf76c9c9477ea578,524bfb96fdc1b3d414cade414c1dbc14c16402eb60137f...,12/31/2022 11:45:00 PM,12/31/2022 11:45:00 PM,240.0,0.00,NaN,NaN,NaN,NaN,...,7.80,Cash,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,f7d9a0b1514d58cb2af513b76759b999b67e5d11,835869d6df51f9ec6e53cb4ac6a1f9e386c26f948cdcca...,12/31/2022 11:45:00 PM,01/01/2023 12:00:00 AM,321.0,0.77,1.703108e+10,1.703108e+10,8.0,8.0,...,17.00,Credit Card,Taxicab Insurance Agency Llc,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.895033,-87.619711,POINT (-87.6197106717 41.8950334495),37.0
3,f88a3f1bc24e4afa13d6a5697be43d953f2065cd,96c3fa383c9adacc965af778248d6ef1b3a20ada7e623e...,12/31/2022 11:45:00 PM,01/01/2023 12:00:00 AM,449.0,1.66,NaN,NaN,8.0,28.0,...,11.75,Cash,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.874005,-87.663518,POINT (-87.6635175498 41.874005383),37.0
4,f8fad61a583724263dcc628c822ec835f212665d,081758ced4767105bfa217f7b0784d72d37e12a016fe2a...,12/31/2022 11:45:00 PM,01/01/2023 12:30:00 AM,3029.0,12.93,NaN,NaN,NaN,38.0,...,40.50,Cash,5 Star Taxi,NaN,NaN,NaN,41.812949,-87.617860,POINT (-87.6178596758 41.8129489392),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663085,f381a24b647f55021408a305b64e85e71a56853b,e533bfdc483206f9c02c1c879a118d88f0a3ca1cd2703f...,10/01/2022 12:00:00 AM,10/01/2022 12:30:00 AM,1568.0,18.36,NaN,NaN,NaN,8.0,...,52.00,Credit Card,Flash Cab,NaN,NaN,NaN,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),NaN
1663086,fe33a650e73b0caa20b19126d876fc01c77b3e41,58c784c628cc2b0b77468e6a406acea729301abbc17a62...,10/01/2022 12:00:00 AM,10/01/2022 12:15:00 AM,984.0,8.48,NaN,NaN,3.0,28.0,...,28.20,Credit Card,Taxicab Insurance Agency Llc,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.874005,-87.663518,POINT (-87.6635175498 41.874005383),31.0
1663087,ff5588dcdeaa7d7d57ad07148327d34af046d60a,1f041942ef7c61fea34c62c89aea8231e4277ca158d54e...,10/01/2022 12:00:00 AM,10/01/2022 01:00:00 AM,3321.0,9.09,NaN,NaN,8.0,1.0,...,37.00,Prcard,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),42.009623,-87.670167,POINT (-87.6701668569 42.0096228806),37.0
1663088,fde4fc0d7251c466c88288f8c183b4e728c0680a,73b2f5adecea91eeef3900303a07f1b0519a594cffb6b0...,10/01/2022 12:00:00 AM,10/01/2022 12:15:00 AM,366.0,1.00,1.703108e+10,1.703132e+10,8.0,32.0,...,9.00,Credit Card,Chicago Taxicab,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),37.0
1663089,7c3b83d1c417e99cdb064732b138f8dc790f9b38,ad0ad3b00e143317e02602396f16dde8fd30faefd491d6...,10/01/2022 12:00:00 AM,10/01/2022 12:30:00 AM,1710.0,17.42,NaN,NaN,76.0,32.0,...,62.19,Credit Card,City Service,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),75.0

In [4]:
taxis.shape

(1663090, 24)

In [5]:
taxis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663090 entries, 0 to 1663089
Data columns (total 24 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Trip ID                     1663090 non-null  object
 1   Taxi ID                     1663030 non-null  object
 2   Trip Start Timestamp        1663090 non-null  object
 3   Trip End Timestamp          1663000 non-null  object
 4   Trip Seconds                1662644 non-null  float64
 5   Trip Miles                  1663085 non-null  float64
 6   Pickup Census Tract         725039 non-null   float64
 7   Dropoff Census Tract        735953 non-null   float64
 8   Pickup Community Area       1545086 non-null  float64
 9   Dropoff Community Area      1507974 non-null  float64
 10  Fare                        1661852 non-null  float64
 11  Tips                        1661852 non-null  float64
 12  Tolls                       1661852 non-null  float64
 13  Extras                      1661852 non-null  float64
 14  Trip Total                  1661852 non-null  float64
 15  Payment Type                1663090 non-null  object
 16  Company                     1663090 non-null  object
 17  Pickup Centroid Latitude    1545717 non-null  float64
 18  Pickup Centroid Longitude   1545717 non-null  float64
 19  Pickup Centroid Location    1545717 non-null  object
 20  Dropoff Centroid Latitude   1518130 non-null  float64
 21  Dropoff Centroid Longitude  1518130 non-null  float64
 22  Dropoff Centroid  Location  1518130 non-null  object
 23  Community Areas             1545699 non-null  float64
dtypes: float64(16), object(8)
memory usage: 304.5+ MB

In [6]:
taxis.describe()

,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tips,Tolls,Extras,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Community Areas
count,1.662644e+06,1.663085e+06,7.250390e+05,7.359530e+05,1.545086e+06,1.507974e+06,1.661852e+06,1.661852e+06,1.661852e+06,1.661852e+06,1.661852e+06,1.545717e+06,1.545717e+06,1.518130e+06,1.518130e+06,1.545699e+06
mean,1.205489e+03,6.243873e+00,1.703147e+10,1.703141e+10,3.298672e+01,2.602071e+01,2.152498e+01,2.855399e+00,2.675989e-02,2.111289e+00,2.669459e+01,4.189985e+01,-8.769007e+01,4.189461e+01,-8.766268e+01,4.419074e+01
std,1.848212e+03,7.825826e+00,3.678932e+05,3.452405e+05,2.531180e+01,2.097361e+01,2.189324e+01,4.127420e+00,7.072496e+00,2.165624e+01,3.578305e+01,6.041939e-02,1.063505e-01,5.578487e-02,7.424458e-02,1.859210e+01
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165192e+01,-8.791362e+01,4.166014e+01,-8.791362e+01,1.000000e+00
25%,4.580000e+02,8.900000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.004000e+01,4.187887e+01,-8.769501e+01,4.187887e+01,-8.766352e+01,3.700000e+01
50%,8.650000e+02,2.620000e+00,1.703132e+10,1.703132e+10,3.200000e+01,2.800000e+01,1.400000e+01,1.040000e+00,0.000000e+00,0.000000e+00,1.701000e+01,4.189251e+01,-8.763331e+01,4.189251e+01,-8.763331e+01,3.800000e+01
75%,1.623000e+03,1.127000e+01,1.703184e+10,1.703184e+10,4.900000e+01,3.200000e+01,3.346000e+01,4.000000e+00,0.000000e+00,2.000000e+00,4.110000e+01,4.194423e+01,-8.762519e+01,4.192269e+01,-8.762519e+01,5.700000e+01
max,8.634100e+04,1.513460e+03,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.628630e+03,2.188800e+02,4.444440e+03,8.888880e+03,9.629630e+03,4.201605e+01,-8.753071e+01,4.201605e+01,-8.753139e+01,7.700000e+01

In [7]:
taxis.loc[(taxis.duplicated(subset=['Trip ID'], keep='first') == True)] #checking for duplicate ids

Empty DataFrame
Columns: [Trip ID, Taxi ID, Trip Start Timestamp, Trip End Timestamp, Trip Seconds, Trip Miles, Pickup Census Tract, Dropoff Census Tract, Pickup Community Area, Dropoff Community Area, Fare, Tips, Tolls, Extras, Trip Total, Payment Type, Company, Pickup Centroid Latitude, Pickup Centroid Longitude, Pickup Centroid Location, Dropoff Centroid Latitude, Dropoff Centroid Longitude, Dropoff Centroid  Location, Community Areas]
Index: []

[0 rows x 24 columns]

In [8]:
#taxis_clean = taxis_clean.loc[(taxis_clean.duplicated(subset=['Trip ID'], keep='first') == False)] 
#removes duplicate values of trip id

In [9]:
#filters out trips shorter than 2 miles and longer than 1 day
taxis_clean = taxis.loc[(taxis['Trip Miles'] >= 2) & (taxis['Trip Seconds'] <= 86400)] 
taxis_clean.shape

(922206, 24)

In [10]:
taxis_clean.to_csv('data/Chicago/cleaned/taxis/taxis_clean_Q4.csv', index=False)
#exports clean dataset to csv

In [11]:
taxis_clean['Trip Start Timestamp'].min()

'10/01/2022 01:00:00 AM'

In [12]:
taxis_clean['Trip End Timestamp'].max()

'12/31/2022 12:45:00 PM'

In [13]:
#exports sample csv
#taxi10000 = taxis_clean.head(10000)
#taxi10000.to_csv('data/Chicago/cleaned/taxi10000.csv', index=False)